<div class='nested-fields'>
    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street %>
    </div>

    <div class="field">
      <%= f.label :zip %>
      <%= f.text_field :zip %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>
    
  <%= link_to_remove_association "Remove Office", f %>
</div>