<!DOCTYPE html>
<html>
  <head>
    <title>Homework3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="padding:20px; background-color:#eeeeee; color:black;border:1px solid black;">
<h1>Appointment Manager</h1>
  <%= link_to 'Physicians', physicians_path %>
  <%= link_to 'Appointments', appointments_path %>
   <%= link_to 'Patients', patients_path %>
    </div>
    <%= yield %>
  </body>
</html>
